.about-us {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px;
}

.robot{
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
}

.oney {
  max-width: 60%;
}
.twoy {
}
.twoy > img {
  width: 200px;
}
.conatinerx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.descriptiony {
  text-align: justify;
  font-weight: 600;
  font-size: 18px;
  color: rgba(211, 211, 219, 0.9);
  font-family: var(--font-secondary);
}
.contentx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 40px auto;
}
.titlex {
  font-size: 30px;
  color:#05ffa3;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: -1.3px;
  font-weight: 900;
}
.titley {
  font-size: 30px;
  color: #05ffa3;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1.3px;
  font-weight: 900;
}
.descriptionx {
  margin-top: 4%;
  font-size: 18px;
  color: rgba(196, 196, 214, 0.9);
  font-weight: 600;
  max-width: 600px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
  letter-spacing: 2px;
  margin-top: 4%;
  margin-bottom: 7%;
  font-family: gilroy-thin;
}
.lottie-player {
  max-width: 90%;
  height: auto;
  margin: 10px auto;
}
.quote {
  text-align: center;
  font-size: 24px;
  color: var(--fg-white);
  font-weight: 700;
  line-height: 60px;
}
.quote > i {
  color: #59cfa4;
  padding: 4px;
}

.vertical {
  position: fixed;
  top: 100px;
  right: 10px;
  color: #ccd6f6;
  font-size: 20px;
  transform: rotate(-90deg);
}
.about-us {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* background: url("../Assets/Asset\ 2.svg") no-repeat center center fixed; */
}
.about-us-container {
  margin-left: 10px;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}
.left-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.heading1 {
  font-size: 30px;
  color: var(--fg-green);
  letter-spacing: -1.3px;
  font-weight: 900;
}
.heading1::first-letter {
  font-size: 55px;
}
.para1 {
  padding-left: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--fg-white);
  max-width: 100%;
}
.para1 span {
  color: #59cfa4;
}

.container2 {
  max-width: 90%;
}
.container2,
.container3,
.container4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 20px;
  margin: 20px 0;
}
.para3 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--fg-white);
}

.what-do-we-do-card {
  background-color: rgba(38, 38, 43, 0.6);
  height: 250px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 0px rgb(47, 56, 49);
  padding: 15px;
  transition: 0.5s;
}
.what-do-we-do-card:hover {
  transform: scale(1.09);
}
.what-do-we-do-card i {
  color: var(--fg-green);
  align-self: start;
}
.heading2 {
  color: var(--fg-green);
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  color: var(--fg-green);
  letter-spacing: -1.3px;
  font-weight: 900;
}
.right-container1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-svg {
  max-height: 320px;
}
.heading3 {
  margin-bottom: 40px;
  color: var(--fg-green);
  font-size: 30px;
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--fg-green);
  letter-spacing: -1.3px;
  font-weight: 900;
}
.container3,
.container4 {
  min-height: 60%;
}
.cit-logo {
  height: 250px;
}
.container4 p,
.container3 p {
  padding: 0 20px;
  font-size: 17px;
}
.container5 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 40px;
}

@media screen and (max-width: 789px) {
  .about-us-container {
    margin-top: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    min-height: 140vh;
    min-width: 100vh;
    padding: 0;
  }
  .left-container {
    padding-left: 10px;
    width: 100vh;
  }
  .para1 {
    font-size: 17px;
    min-width: 90%;
  }
  .lottie-animation {
    max-height: 300px;
    max-width: 300px;
    min-width: 200px;
  }
  .container2 {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .left-container1 {
    min-width: 90%;
  }
  .about-svg {
    max-height: 100%;
  }
  .heading2 {
    align-self: center;
  }
  .container3 {
    min-height: auto;
    flex-direction: column;
    padding: 0 10px;
  }
  .cit-logo {
    height: 90%;
  }
  .container4 {
    min-height: auto;
    flex-direction: column-reverse;
    padding: 0 10px;
  }
}

@media screen and (max-width: 900px) {
  .about-us {
    font-size: clamp(0.5rem, 2.5vw, 1rem);
  }
  .contentx {
    width: 95%;
    display: grid;
  }
  .descriptiony {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    width: 80vw;
    grid-row: 2;
  }
  .twoy {
    display: block;
    text-align: center;
    grid-row: 1;
  }
  .twoy > img {
    margin: 30px;
    display: inline;
    align-self: center;
  }
  .highlighter {
    
  }
  .about-us {
    margin-top: 100px;
    padding: 10px;
  }

  .quote{
    font-size: 16px;
  }

  .robot{
    display: none;
  }
}
