.content-container-item{
    display: flex;
    flex-direction: row;
    margin:0px;
    margin-bottom: 60px;
    width: 300px;

}
.content-container-item-image{
    width: 100px;
    position: relative;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.content-container-item-image>img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.commitee-name-x{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}
.commitee-name-x >div>h1{
    font-size: 20px;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
}
.commitee-name-x>div>p{
    font-size: 14px;
    font-weight: 600;
    color: rgba(255,255,255,0.5);
}
.commitee-name-x>p{
    font-size: 14px;
    font-weight: 600;
    color: #05ffa3;
}
.insta-hover-container{
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--fg-green);
    height: 20px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}


.commitee{
    width: 50%;
    height: 40%;
    margin: auto;
    margin-bottom: 0px;
    padding-right: 5%;
    margin-top: 20px;
}