.eventdetails {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 40px;
}

.back-btn-container {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 10px;
    border: 2px solid var(--fg-white);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.back-btn-container:hover {
    background-color: var(--fg-white);
    color: var(--bg-black);
}

.eventdetails-container {
    /* max-width: 800px;
    margin: auto; */
    margin-top: 70px;
}

.one {
    min-width: 100%;
    object-fit: cover;

}

.one>img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.two {
    display: flex;
    flex-wrap: wrap;
}

.two>div {
    width: 50%;
    max-height: 50%;
    height: auto;
    background-color: red;
}

.two>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    width: 100%;
    height: 400px;
    border-radius: 40px;
    overflow: hidden;
    object-fit:cover;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.event-content-container {

    max-width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.event-content-section2 {
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
    width: 300px;
    flex-basis: 300px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.tag {
    background-color: var(--fg-green);
    padding: 2px 8px;
    border-radius: 4px;
}

.e-title>.header>h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--fg-black);
   
}
.e-title{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.e-description {
    color: var(--fg-white);
    line-height: 27px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-secondary);
}

.e-title-m {
    font-size: 26px;
    font-weight: 700;
    color: var(--fg-black);
    margin-bottom: 10px;
    line-height: 40px;
    margin-top: 20px;
}
.e-description-m {
    color: var(--fg-white);
    line-height: 27px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-secondary);
}
.trophies{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 100px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;

}
.rules{
    padding-left: 25px;
}
.trophies>div>i{
    font-size: 90px;
    margin-bottom: 10px;
}
.cen{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.silver-trophy>i{
    color: silver;
}
.gold-trophy>i{
    color: gold;
}
.gold-trophy{
    
    transform: scale(1.5);
    transform:translateY(-40px);
}
.bronze-trophy>i{
    color: #cd7f32;
}
.e-description-m>ul>li{
    color: var(--fg-white);
    margin-bottom: 10px;
    font-weight: 700;
}
.google-calendar{
    cursor: pointer;
}
.submit-btn-event{
    background-color: var(--fg-green);
    color: var(--bg-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: max-content;

}
.submit-btn-event{
    background-image:linear-gradient(90deg, #24B47E,#50e40c);
    width: fit-content;
    padding: 3px;
    border-radius: 50px;
    color:white;
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom:90px;
    text-align: center;
    
}
.submit-btn-event>div{
    width: 100%;
    background-color: var(--bg-black);
    border-radius: 50px;
    padding: 18px 80px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;

}
.final-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.manager-profile-container{
    width: 200px;
    height:300px;
    background-color: rgba(47, 48, 48, 0.2);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    overflow: hidden;
   
}
.img-hover{
    border: 5px solid white !important;
    border-radius: 50%;
    z-index: 99;
}
.manager-profile-image{
    width:auto;
    height:110px;
    border: 0px solid white;
    transition: all 0.24s ease-in-out;
}
.manager-profile-name{
    font-size: 20px;
    font-weight: 700;
    color: var(--fg-white);
}
.manager-profile-description{
    color: var(--fg-white);
    line-height: 27px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.manager-social-links{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 0px;
    background-color: var(--fg-green);
    z-index: 999;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:20px;
    transition: all 0.24s ease-in-out;
    overflow: hidden;
}
.social-hover{
    height: 40px;
}
.social-hover>i{
    cursor: pointer;
}
.circle{
    position: absolute;
    background-color: var(--fg-green);
    border-radius: 50%;
    width: 300px;
    height: 200px;
    top:-800px;
    transition: all 0.24s ease-in-out;
}
.circle-hover{
    top:-80px
}
.managers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:60px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.faq{
    margin-top: 50px;
}
.fq-header{
    margin-top: 80px !important;
}
@media only screen and (max-width: 900px) {
    .eventdetails{
        padding:0px ;
        margin-top: 40px;
    }
    .back-btn-container{
        display: none;
    }
    .event-content-container{
        max-width: 90%;
        margin-top: 90px;
    }
        
    .image-container{
        flex-wrap: wrap;
        height: auto;
    }
    .trophies{
        gap: 20px;
    }
    .trophies>div>i{
        font-size: 60px;
        margin-bottom: 10px;
    }
}
.highlight{
    color: #24B47E;
}