.events {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
}

.events-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    font-size: 30px;
    letter-spacing: 0.02px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: var(--fg-white);
    color: transparent;
    cursor: pointer;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -1.3px;
    font-weight: 700;
}

.active-link {
    color: var(--fg-white);
}

.events-header>h1:nth-child(2) {
    position: relative;
    padding-right: 50px;
}

.events-header>h1:first-child {
    position: relative;
    padding-right: 50px;
}

.events-header>h1:last-child {
    position: relative;
}

.activex {
    color: var(--fg-white);
}

.events-header>.activex:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    /* this is to match where the border is */
    transform-origin: left;
    transition: 0.5s linear;
    transform: scale(1);
    background-image: linear-gradient(90deg, #24B47E, #5b9481);
}

/* .events-header>.activex:hover:before {} */

.events-header>h1:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    /* this is to match where the border is */
    transform-origin: left;
    transition: 0.5s linear;
}

.events-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin: auto;
    margin-top: 4%;
    width: 100%; 
   
}

.events-body::-webkit-scrollbar {
    display: none;
}

.event-card {

    min-width: 300px;
    width: 320px;
    height: 220px;
    background-color: rgba(38, 38, 43, 0.6);
    border-radius: 5px;
    border-top: 3px solid yellow;
    padding: 20px;
    position: relative;
    overflow:scroll;
}

.event-card:nth-child(1) {
    border-top: 3px solid #24B47E;
}

.event-card:nth-child(2) {
    border-top: 3px solid red;
}

.event-card:nth-child(3) {
    border-top: 3px solid brown;
}

.event-card:nth-child(4) {
    border-top: 3px solid orange;
}

.event-card:nth-child(5) {
    border-top: 3px solid #24B47E;
}

.event-card-header {
    font-size: 20px;
    font-weight: 600;
}

.event-card-body {
    font-size: 14px;
    font-weight: 900;
    color: var(--fg-white);
    margin-top: 10px;
    padding: 5px;
    font-family: var(--font-secondary);
    letter-spacing: 1px;
}

.read-more {
font-family: var(--font-primary);
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #24B47E;
    padding: 5px 30px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}

.add-green-events {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    box-shadow: 0 0 30px rgba(77, 175, 28, 0.7);
    z-index: 999;
}
@media only screen and (max-width: 900px) {
    .events {
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px;
    }
    .events-header {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        font-size: 16px;
        letter-spacing: 0.02px;
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: var(--fg-white);
        color: transparent;
        cursor: pointer;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 1px;
        font-weight: 900;
        flex-wrap: wrap;
    }
    .events-body {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 10px auto;
        gap: 30px;
        margin-top: 90px;
        overflow-y:scroll;
        overflow-x: hidden;
        width: 100%;
    }
    .events-header>h1:nth-child(2) {
        position: relative;
        padding-right: 20px;
    }
    
    .events-header>h1:first-child {
        position: relative;
        padding-right: 20px;
    }
    
    .events-header>h1:last-child {
        position: relative;
    }
    .event-card-body {
        font-size: 15px;
        font-weight: 900;
        color: var(--fg-white);
        margin-top: 10px;
        padding: 5px;
        font-family: var(--font-secondary);
        letter-spacing: 1px;
    }
}