.home{
    width: 100%;
    height:100vh;
    scroll-behavior: smooth;
overflow-y: auto;
overflow-x: hidden;
position: relative;
padding:30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.home-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:6%
   
}
.home-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    font-size: 40px;
    max-width: 500px;
    font-weight: 700;
    line-height: 59.92px;
    letter-spacing: normal;
    text-align: start;
}
.top-fixed{
    top:0 !important;
    left:0 !important;

}
.right-fixed{
    right:0 !important;
    top:0 !important;
}
.left-fixed{
    left:0 !important;
    top:0 !important;
}
.add-green-vertical{
    width: 0px;
    height:100vh;
    border-radius: 2px;
    position: fixed;
    bottom: 0;
    right:0;
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(36, 180, 126, 1) 0%,
        rgba(19, 195, 185, 1) 81%,
        rgba(0, 212, 255, 1) 100%
      );
    box-shadow: 0 0 30px rgba(77, 175, 28, 0.7);
    z-index: 100;
}
.add-green{
    width: 100%;
    height:0px;
    border-radius: 2px;
    position: fixed;
    bottom: 0;
    right:0;
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(36, 180, 126, 1) 0%,
        rgba(19, 195, 185, 1) 81%,
        rgba(0, 212, 255, 1) 100%
      );
    box-shadow: 0 0 30px rgba(77, 175, 28, 0.7);
    z-index: 100;
}
.card-content-wrapper{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    background-color: var(--bg-black) !important;
} 
.timeline-component::-webkit-scrollbar{
    background-color: transparent;
    border:none !important;
    display: none !important;
}
.explore-btn{
    margin-top: 00px;
}

/* below 900px */
@media only screen and (max-width: 900px) {
    .home-content{
        flex-direction: column-reverse;
        gap:10%;
        margin-top: 90px;
     
    }
    .home-content>.lottie{
        width: 100%;
        height: 100%;
        margin-top: 90px;
    }
    .home{
        padding-top: 200px;
        margin-top: 100px;
    }
    .explore-btn{
        margin-top: 40px !important;
        margin-bottom: 80px;
    }
}