.navbar{
    width: 300px;
    height:100vh;
    padding:50px 0px 50px 60px ;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.navbar-logo{
    width: 200px;

}
.navbar-logo>img{
    width: 100%;
    height: 100%;
}
.navbar-links{
    width: 100%;
    font-family: var(--font-primary);
    font-weight: 900;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    letter-spacing: 1px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s ease-in-out;
    
}
.navbar-links>div:hover{
    color: #8103ff;
    cursor: pointer;
    cursor: pointer;
}
.bottom-special{
    font-size: 24px;
    letter-spacing: 0.02px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: var(--fg-white);
    color: transparent;
    cursor: pointer;
}
.active{
    color: #05ffa3;
}
.navbar-link>span{
    margin-left: 5px;
}
.navbar-link:hover{
    color: #05ffa3;
}