
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.main-content{
    width: 100%;
    /* height:100vh; */

}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.sectone{
    height: 100vh;
    overflow: hidden;
}
.bg img{
    width: 110vw;
    height: 110vh;
}

.fgrocks{
    position: absolute ;
    top: 30% !important;
    z-index:5;
  
}

.fgrocks img{
    width:100%;
    z-index: 100;
}

.bottomblend{
    position: absolute ;
    width: 100vw !important;
    height: 100vh !important;
 

    mix-blend-mode: screen;
}
.bottomblend img{
    z-index: 4;
}

.blend-layer{
    position: absolute;
    transform: translate(10%,50%) !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
    mix-blend-mode: screen; 
}


.globe{
    position: absolute;
    left: 30% !important;
    top: -30% !important;
    z-index: 1;
    mix-blend-mode: screen;
}
.globe img{
    width: 60% !important;
}
.text{
    position: absolute;
    left: 10% !important;
    top: -30% !important;
    z-index: 0;
    mix-blend-mode: screen;
 
}
.text img{
    width: 90% !important;
}
.rock{
    position: absolute ;
    left: 12% !important;
    top: 20% !important;
    z-index: 100;
}
.rock img{
    width: 90% !important;

}
.upblend{
    position: absolute;
    width: 17% !important;
    left: 38% !important;
    top: -2% !important;
    mix-blend-mode: screen;
    z-index: 4;
}

.fore-rocks{
    position: absolute;

    top: 2% !important;

    z-index: 2;
}
.fore-rocks img{
    height: 110% !important;
}

.mobile-bg{
    display: none;
}
.violet-gradient{
    background: radial-gradient( circle, rgb(65, 21, 122) 0%, rgb(129, 77, 177) 0%, rgb(86, 19, 195) 81%, rgb(111, 22, 214) 100% ) !important;
}
.scroll-indicator{
    position: absolute;
    top:95% !important;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.scroll-indicator>div{

}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}



.ca3-scroll-down-link {
  cursor:pointer;
  color:"red";
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -130px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

.outer-layer{
    position: relative;
    width: 120%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 28);

}


.layer1 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    object-fit: contain;
    overflow: hidden;
   
}

.layer2 img{
    position: absolute;
    top:0;
    left:-20%;
    width: 100%;
    height: auto;
    z-index: 500;
    object-fit: contain;
}


.layer3 img{
    position: absolute;
    top:25vh;
    right:40%;
    width:10%;
    z-index: 500;
    object-fit: contain;
    overflow: hidden;
    transform: scale(-1);
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-400%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  



#main_cry{
    
    font-size: 80px; 
    /* animation: 1s ease-out 0s 1 slideInLeft; */
    transition: 5s;
    font-family: 'Space Mono', monospace;
    font-weight: 1000;
    color:#05ffa3;
}


#main_cry2{
    
    font-size: 20px; 
    transition: 1s;
    font-weight: 100;
    font-family: 'Space Mono', monospace;

}

#main_cry3{
    
    font-size: 20px; 
    transition: 1s;
    font-family: 'Space Mono', monospace;

}

.divdiv{
    position: absolute;
    top:55%;
    left:65%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);

}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}



.layer4 img{
    position: absolute;
    top:15vh;
    right:20%;
    width:10%;
    z-index: 500;
    object-fit: contain;
    overflow: hidden;
    
}



.layer5 img{
    position: absolute;
    top:45vh;
    left:25%;
    width:10%;
    z-index: 1000;
    object-fit: contain;
    overflow: hidden;
   
}

.layer6 img{
    position: absolute;
    top:70vh;
    left:-30px;
    width:20%;
    z-index: 1000;
    object-fit: contain;
    overflow: hidden;
   
}



